.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 100px;
  color: #000;
}

.about__text {
  text-align: center;
  width: 45%;
  padding: 25px;
  margin: 50px;
}

.about__title {
  font-size: 50px;
}

.about__description {
  font-size: 30px;
}

.about__portrait {
  overflow: hidden;
}

.about__image {
  object-fit: contain;
  height: 600px;
}

.about__button {
  width: 50%;
  border: 0;
}

@media (max-width: 1360px) {
  .about__container {
    flex-direction: column;
    padding-top: 0;
    overflow: hidden;
  }
  .about__text {
    order: 1;
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }
  .about__title {
    font-size: 33px;
  }
  .about__description {
    font-size: 23px;
    padding: 0 20px;
    line-height: 30px;
  }
  .about__portrait {
    order: 0;
  }
  .about__image {
    height: 500px;
  }
}

@media (max-width: 650px) {
  .about__image {
    position: relative;
    left: 90px;
  }
}
